/*  */

.main {
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0 200px;
}
  
.loginContent {
    padding: 20px 20px;
    background-color: rgba(207, 207, 207, 0.114);
    border: 1px solid rgba(170, 170, 170, 0.151);
    height: 510px;
    width: 600px;
    text-align: left;
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 30px;
    align-items: left;
}

.Credentials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.loginForm input {
    height: 40px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
}

.loginForm label {
    margin-top: 10px;
    font-size: 17px;
}

.buttonLogin {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(45, 111, 254);
    color: white;
    border: none;
    border-radius: 5px;
    /* width: 400px; */
}

.buttonLogin:hover {
    background-color: blue;
    color: white(7, 6, 6);
}

.loginContent p {
    margin-top: 10px;
}

.loginContent a:hover {
    cursor: pointer;
    color: blue;
}

.errorMessageDefault {
    color: blue;
}

.errorMessageWrongCredentials {
    color: red;
}

.errorMessageDefault, .errorMessageWrongCredentials {
    margin-bottom: 20px;
}

.resultMssg {
    display: flex; 
    justify-content: center;
    margin: 10px 0 10px;
    padding: 5px;
    height: 50px;
}

.furtherInfo {
    display: flex; flex-direction: column;
}

.signupLink,
.recoverPsw {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    width: fit-content;
}

.signupLink a,
.recoverPsw a{
    margin-top: 10px;
    text-decoration: underline;
}

.recoverPsw {
    display: flex;
}