/**/

.selectView {
    position: relative;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: auto;
}

.selectView button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    gap: 10px;
    background-color: rgb(251, 251, 251);
    border: 1px solid rgba(100, 100, 100, 0.3); /* unified border color */
    border-radius: 5px;
    color: rgb(52, 52, 52);
    font-size: 1rem;
    cursor: pointer;
}

.notToggle {
    border-radius: 5px;
}

.isToggle {
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-bottom: none; /* hide bottom so dropdown connects */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.activeDiv {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 251, 251);
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-top: none; /* to connect with toggle button */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1000;
}

.activeDiv button {
    background-color: rgb(251, 251, 251);
    color: rgb(52, 52, 52);
    border: none;
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
    font-size: 0.9rem;
}

.activeDiv button:hover {
    background-color: rgb(127, 127, 127);
    color: white;
}

.activeDiv button[name="daily"] {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}