/**/

.main {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 110vh;
    max-height: 110vh;
    position: absolute;
    top: 7%; left: 0;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.26);
    border: 2px solid;
    overflow: hidden;
    z-index: 1000;
}

.main button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.appointment {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    height: 60vh;
    max-height: 60vh;
    width: 40vw;
    padding: 20px;
    background-color: white;
    box-shadow: #9b9b9b;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    overflow: hidden;
}

.apptHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 10vh;
    border-bottom: 1px solid rgb(56, 56, 56);
    overflow: hidden;
}

.apptHeader button[name="close"] {
    font-size: 1.4rem;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #8b8b8b00;
    border-radius: 5px;
}

.apptHeader button[name="close"]:hover {
    border: 1px solid #e2e2e2;
    background-color: #f0f0f0;
    font-weight: bold;
}

.apptHeader button[name="close"]:focus {
    border: 1px solid #e2e2e2;
    background-color: #cfcdcd;
    font-weight: bold;
}


.apptHeader p {
    font-size: 1.2rem;
    letter-spacing: 0.05cap;
}

.apptMain {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid rgb(133, 120, 10);
    height: 100%;
    overflow: hidden;
}

.apptMain label {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.05cap;
}

.apptMain .apptInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    height: 15vh;
    max-height: 15vh;
    border: 2px solid blue;
    overflow: hidden;
}

.apptInput input {
    padding: 10px;
    height: 4vh;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    width: 80%;
    font-size: 1rem;
    letter-spacing: 0.03cap;
    overflow: hidden;
}

.apptInput input:read-only {
    opacity: 0.5;
}

.apptBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    border: none;
}

.inActiveBtns {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.activeBtns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.apptBtns button {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.apptBtns button[name="edit"], 
.apptBtns button[name="save"] {
    background-color: #2196F3;
    border: 1px solid #00000079;
}

.apptBtns button[name="edit"]:hover, 
.apptBtns button[name="save"]:hover  {
    background-color: #1E88E5;
}

.apptBtns button[name="delete"],
.apptBtns button[name="cancel"] {
    background-color: red;
    border: 1px solid rgb(192, 0, 0);
}

.apptBtns button[name="delete"]:hover,
.apptBtns button[name="cancel"]:hover {
    background-color: rgb(173, 0, 0);
    border: 1px solid rgb(192, 0, 0);
}

.apptBtns button[name="save"] {
    padding: 10px;
    width: 8vw;
    max-width: 8vw;
    font-size: 0.9rem;
    letter-spacing: 0.05cap;
}

.apptBtns button[name="cancel"] {
    padding: 10px;
    width: 8vw;
    max-width: 8vw;
    font-size: 0.9rem;
    letter-spacing: 0.05cap;
}