.pageB {
    display:  grid;
    grid-template-rows: 0.5fr 9fr;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.pageB .sectionsB {
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    min-height: 5vh;
    max-height: 5vh;
}

.sectionsB .sectionBItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-right: 1px solid #000;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.sectionsB .sectionBdisabledItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #00000057;
    cursor: not-allowed;
    border-right: 1px solid #000;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.sectionsB .sectionBItem:hover {
    background-color: #d0e8ff ;
}

.sectionsB .sectionBItem:focus {
    background-color: #335374;
    color: white;
}

.sectionsB .focused {
    background-color: #335374;
    color: white;
    overflow: hidden;
}

.contentB {
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding: 20px;
    gap: 10px;
    box-sizing: border-box;
    overflow-y: auto; 
    height: 100%;
}

.contentB .currViewContent {
    padding: 10px;
}

.contentB .currViewB {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    width: 100%;
    align-content: center;
}

.currViewB .prevView,
.currViewB .nextView {
    display: flex;
    width: 100%;
}

.prevView {
    display: flex;
    justify-content: flex-end;
}

.nextView {
    display: flex;
    justify-content: flex-start;
}

.currViewB button {
    display: flex;
    padding: 7px;
    font-size: 1.5rem;
    border-radius: 100%;
    border: none;
    background-color: transparent;
}

.currViewB button:hover {
    background-color: #d3d3d3;
}

.currViewB .contentView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contentView p {
    font-size: 1.2rem;
    letter-spacing: 0.05cap;
}