.edtBtn {
    display: flex;
    padding: 7px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: rgb(70, 69, 69);
}

.edtBtn:hover {
    background-color: rgba(221, 221, 221, 0.514);
    border-radius: 100%;
    color: black;
}