/**/

/* font-family:Verdana, Geneva, Tahoma, sans-serif; */

.checklist {
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 100%;
    max-height: 60vh;
}

.checklistSections {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    gap: 10px;
}

.checklistSections input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 0.9rem;
}

.checklistSections button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05cap;
}

.checklistSections .notEditMode {
    display: flex;
}

.checklistSections .EditMode {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.checklistSections button[name='edit'] {
    background-color: #2196F3;
    border: 1px solid blue;
    color: white;
}

.checklistSections button[name='edit']:hover {
    background-color: #1E88E5;
}

.checklistSections button[name='edit']:focus {
    background-color: #1976D2;
}


.checklistSections button[name='cancel'] {
    background-color: #FF0000;
    border: 1px solid #D10000;
    color: white;
}

.checklistSections button[name='cancel']:hover {
    background-color: #af0000;
}

.checklistSections button[name='save'] {
    background-color: #2BB02B;
    border: 1px solid #0d790d;
    color: white;
}

.checklistSections button[name='save']:hover {
    background-color: #068606;
}

/* .checklistSections button[name='edit'],
.checklistSections button[name='save'],
.checklistSections button[name='cancel'] {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: #2196F3;
    color: white;
    letter-spacing: 0.07cap;
} */

.checklistContent {
    height: 100%;
    overflow-y: auto;
}

.checklistItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.checklistItemDisabled {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
    opacity: 0.5;
}

.checklistItem .item {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 0.5rem;
    transition: background-color 0.3s;
}

.checklistItem.checked .item {
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.checklistItem.checked .item::after {
    content: '✓';
    font-size: 0.9rem;
}
