/*  */

@keyframes slideDown {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.alertContainer {
    animation: slideDown 0.5s ease-in-out;
    display: flex;
    /* padding: px; */
    position: fixed;
    left: 70px;
    height: fit-content;
}

.successAlert {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    background-color: rgb(71, 129, 245);
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.errorAlert {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    background-color: rgb(225, 11, 11);
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.alertContainer button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 2px;
}

.alertContainer button:hover {
    font-weight: bolder;
    cursor: pointer;
}