/*  */

@keyframes slideInFromOut {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px 10px;
    width: 500px;
    overflow: hidden;
    position: fixed;
    top: 80px;
    /* top: 15%; */
    right: 10px;
    z-index: 1000;
    animation: slideInFromOut 0.8s ease-out;
    color: #2f0e12;
    background-color: #edebeb;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: monospace;
    font-size: 1rem;
}

.icon:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 100%;
  border: none;
}

.errorRed {
  background-color: #f92335;
  color: #fff;
}

.warningOrange {
  background-color: #ff9718;
}

.infoBlue {
  background-color: #2f84f4;
  color: #fff;
}